{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    {% comment %} <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a></li> {% endcomment %}
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
    <form method="post" action="{% url 'changepassword' %}">
    {% csrf_token %}

    {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
    {% endif %}

    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">
        Change Password
    </button>
</form>
   {% comment %} <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Change Password</button>
</form> {% endcomment %}
  </div>
 </div>
</div>
{% endblock main-content %}